.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-color: #f4f6f9;
  background: linear-gradient(135deg, #021e3e,#021e3e );
  font-family: Arial, sans-serif;
}

.form-box {
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  width: 350px;
}

.form-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-box label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

.form-box input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74,144,226,0.5);
}

.form-box button {
  width: 100%;
  padding: 12px;
  background-color: #021e3e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.form-box button:hover {
  background-color: #357ab7;
}
